body {
  background-color: red;
   background-image: url(img.jpg);
}
p {
 margin-left: 20%;
  font-size: 15pt;
   background-color: white;
   color: pink;
    
}
.nastya{
  margin-left: 20%;
  font-style: italic;
   background-color: yellow;
  color: green;
}
#lera{
  margin-left: 20%;
  font-variant: small-caps;
   background-color:green;
  border: 4px double black; 
}
