body{
    background-color: gray;
}
.page{
    background-color: white;
    width: 210mm;
    margin:auto;
    padding-left: 3cm;
    padding-right: 2cm;
    padding-bottom: 2cm;
    padding-top: 2cm;
}
#cl{
    background-color: aqua;
    border: 4px solid black;
    padding-left: 10mm;
    padding-right: 10mm;
    padding-bottom: 1cm;
    padding-top: 1cm;
}
ul li {
    list-style: square outside;
}
p span{
    background-color: cornsilk;
    border: 1px solid black;
    padding-bottom: 2px;
    padding-top: 1px;
}
.right{
   float: right;
  margin: 0 0 5px 5px;
}
table span {
    background-color: cornsilk;
    border: 1px solid black;
    padding-bottom: 2px;
    padding-top: 1px;
}
table{
    border-collapse: collapse;
    border: 3px solid black;
}

td, th {
    padding: 5px;
    border: 3px solid black;
}
.big {
    font-size: 250%;
}
  p {
    text-indent: 20px; 
   }
figure{
     text-align: center;
}
