p:first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    color:red;
}
a:hover {
  color: #f00;
  }
a:link {
   color: #036;
}
a:visited {
   color: #606
}
b:first-child {
  color:red;
}
  b:first-child {
    color: #f272ff;
}
